
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body{
    background-color:#EEEEEE;
}

.navbar-default {
    background-color: #00ADB5;
    border-color: #d3e0e9;
    height: 110px;
}

.navbar-default .navbar-brand {
    color: #EEEEEE;
    font-size: 34px;
    margin: 20%;
}

a.navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

.navbar-default .navbar-brand:hover {
    color: #393E46;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
    color: #393E46;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text:hover{
    color:#EEEEEE;
}

.panel-default > .panel-heading {
    color: #333333;
    background-color: #fff;
     font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size:30px;
}

.panel-heading {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size:30px;
    margin-top: 20px;

}

.panel{
    background-color:#fff;
}
.panel-body{
        margin-top: 30px;
}

/* Sweep To Right */
button.hvr-sweep-to-right {
    margin-left: 35px;
}
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00ADB5;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

[class^="hvr-"] {
    margin: .4em;
    padding: 0.8em;
    cursor: pointer;
    background: #e1e1e1;
    text-decoration: none;
    color: #666;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button, submit 
{ 
    border:none; 
} 

a.btn.btn-link {
    margin-left: -40px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
        width: 80%;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

td a {
    display:block;
    width:100%;
}

.delete
{
    //background-color:#f2dede;
    cursor:pointer;

    &:hover
    {
        background-color:#f2dede;
    }
}